/* Börja i denna fil! Först går vi igenom lite av koden
som redan är skriven - sen går vi igenom uppgifterna. Det
är helt okej att ändra på den existerande koden också, det
är du som bestämmer! */

body { 
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "didot" sans-serif;
}

/* Flexbox för sidans layout */
div { 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 100vh;
}

/* Styling för våra rubriker*/
h1 { 
  font-size: 50px;
  color: rgb(252, 252, 252);
  background-color: rgba(236, 220, 152, 0.726);
  padding: 8px 24px;
  text-align: center;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
}

h2 {
  font-size: 50px;
  color: rgb(252, 252, 252);
  background-color: rgba(173, 217, 241, 0.425);
  padding: 8px 24px;
  border-radius: 16px;
}

h3 {
  font-size: 35px;
  color: rgb(252, 252, 252);
  text-align: center;
  background-color: rgba(175, 94, 56, 0.616);
  padding: 8px 24px;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
}

h4 {
  font-size: 35px;
  color: rgb(252, 252, 252);
  text-align: center;
  background-color: rgba(11, 10, 75, 0.404);
  padding: 8px 24px;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
}

h5 {
  font-size: 60px;
  color: rgb(252, 252, 252);
  text-align: center;
  background-color: rgba(248, 248, 248, 0.404);
  padding: 8px 24px;
  border-radius: 16px;
}

/* Styling för credits, längst ner på sidan */
.credits {
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 0;
}

/* Nu är det dags att börja styla!*/

/* 1. Vi har redan gett den första div:en en bakgrundsbild
som heter 'daytime.png'. Din uppgift är att ändra på storleken
så att bilden täcker hela div:en en gång utan upprepning!*/
.day {
  background-image: url(./assets/daytime.png);
  background-size: 500px;
}

/* 2. Den andra div:en har en enkel bakgrundsfärg just nu.
Skapa en linjär gradient som är gul upptill och blå nertill
för att göra övergången till nästa div mjukare.*/
.day-transition {
  background:  rgba(254,183,90,1);
}

/* 3. Den tredje div:en ska både ha en bakgrundsbild och en
linjär gradient. Det finns en bild som heter 'sunset.png' i
'assets'-mappen. Hint! Om du ger den samma gradient-färg som
den förra diven kommer övergången bli mjukare. Glöm inte att
ge bilden en lämplig storlek!*/
.sunset { 

}

/* Den fjärde div:en ska ha en bakgrundsbild som heter 'nightsky.png'.
Ge den en lämplig storlek och en parallax-effekt! Bilden ska se ut som
att den sitter fast bakom de andra div:arna!
Hint! Läs på om background-attachment*/
.nightsky {
  
}

/* 5. Ändra bakgrundsfärgen till linjär gradient med natt-färger för den sista div:en.
Du är färdig! 🥳 Om du vill utmana dig själv - ta en titt i JavaScript-filen
för flera uppgifter! */

.night-transition {
  position: relative; /*För att cred till freepik ska hamna i botten*/
  background: rgb(18,10,121);
}